.card{
  background-color: #0f172a;
  padding: 30px;
  border-radius: 10px;
  color: #fff
 
}

.card__image{
  border-radius: 50%;
}

.card__title{
  margin-top: 15px;
  font-size: 2.5rem;
}

.card__intro{
  font-size: 1rem;
  max-width: 75%;
  margin-top: 20px;
}